# Pseudocode zur Implementierung

In [311]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [329]:
# dieser Test-df wird von Christophs Programm erzeugt.
# wichtig!!! Bei der Besprechung m체ssen wir P_delta als NaN Value in den Datenframe einf체gen
P_Phase = pd.read_csv('power_today_minute_1.csv', names = ['timestamp','P', 'P_delta'])

#Event dataframe anlegen zur sp채teren Auswertung der An/Abschaltevents
Event_df = pd.DataFrame(columns = ['timestamp','Phase','minuten_index',
                                   'Ladevorgang', 'Status', 'Ladeleistung',
                                   'minuten_index_Abschaltung','timestamp_abschalt'])

## add_p_delta Funktion
-------

In [310]:
def add_p_delta(df):
    df_length = len(df)
    index_last_row = df_length - 1
    if(df_length > 1):
        p_new = df.iloc[index_last_row]['P']
        p_old = df.iloc[index_last_row-1]['P']
        p_delta = p_new - p_old
        return p_delta
    else:
        return 0

## Ein-/ Ausschaltvorgang Funktion
-----

## Code Simulation auf dem Server
----
Hier kann der Code f체r eine Phase Simuliert werden

In [346]:
pseudocode_df = pd.DataFrame([])

for row in range(0, 10):
    pseudocode_df = pseudocode_df.append(P_Phase[row:row+1])
    print('----------Zeile {} ----------'.format(row))
    print('Eingehender Dataframe:')
    display(pseudocode_df)
    
    # call the function to add P-delta
    pseudocode_df.iloc[-1, pseudocode_df.columns.get_loc('P_delta')] = add_p_delta(pseudocode_df[-2:])
    
    '''
    Hier wird soll die Funktion Ein-/ Ausschaltvorgang implementiert werden,
    die unseren Event_df erzeugt.
    '''
    
    print('Dataframe mit P_delta:')
    display(pseudocode_df)
    print()
    print()

----------Zeile 0 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0

----------Zeile 1 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0

----------Zeile 2 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0

----------Zeile 3 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0

----------Zeile 4 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0

----------Zeile 5 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0

----------Zeile 6 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0
6  1.505340e+09  189      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0
6  1.505340e+09  189     -1.0

----------Zeile 7 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0
6  1.505340e+09  189     -1.0
7  1.505340e+09  190      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0
6  1.505340e+09  189     -1.0
7  1.505340e+09  190      1.0

----------Zeile 8 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0
6  1.505340e+09  189     -1.0
7  1.505340e+09  190      1.0
8  1.505340e+09  191      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0
6  1.505340e+09  189     -1.0
7  1.505340e+09  190      1.0
8  1.505340e+09  191      1.0

----------Zeile 9 ----------
Eingehender Dataframe:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0
6  1.505340e+09  189     -1.0
7  1.505340e+09  190      1.0
8  1.505340e+09  191      1.0
9  1.505341e+09  190      NaN

Dataframe mit P_delta:

      timestamp    P  P_delta
0  1.505340e+09  179      0.0
1  1.505340e+09  190     11.0
2  1.505340e+09  190      0.0
3  1.505340e+09  188     -2.0
4  1.505340e+09  190      2.0
5  1.505340e+09  190      0.0
6  1.505340e+09  189     -1.0
7  1.505340e+09  190      1.0
8  1.505340e+09  191      1.0
9  1.505341e+09  190     -1.0